.panel.corousel-panel {
    min-height: 220px;
    max-height: 300px;
}

.panel.corousel-panel .panel-heading {
    color: #3C3C3C;
    background-color: #DEDEDE;
}

.panel.corousel-panel .panel-heading h3 {
    font-weight: bold;
}

.panel.corousel-panel .panel-body {
    color: #363636;
    line-height: 20px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #24135F;
    border: 1px solid #24135F;
    border-radius: 10px;
}

.carousel-indicators {
    bottom: -40px !important;
}

.carousel-control {
    filter: none !important;
    width: 10%;
}

.carousel-control.left {
    left: -95px;
    background-image: none !important;
    color: #24135F;
}

.carousel-control.right {
    right: -95px;
    background-image: none !important;
    color: #24135F;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: -12px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: -12px;
}

@media screen and (max-width: 768px) {
    .carousel-control {
        font-size: 30px;
    }

    .carousel-control.left {
        left: -40px;
    }

    .carousel-control.right {
        right: -40px;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }

    .bloque-carrusel {
        min-height: 580px !important;
    }
}

@media screen and (max-width: 480px) {
    .bloque-carrusel {
        min-height: 765px !important;
    }

    .carousel-control.left {
        left: -25px;
    }

    .carousel-control.right {
        right: -25px;
    }
}